mixin postList(posts)
    if url=== "/r"
        h2= posts[0].subreddit.name
        p= posts[0].subreddit.description
    ul.post-list
        each post in posts
            li.post.border-dotted-thin.uncomfortable
                h5
                    a.palatino-text.bigger.navy-blue-text(href=post.url, target="_blank")= post.title
                
                    p.smaller  
                        a.baffle.smaller.navy-blue-text(href="/u/" + post.user.username)= post.user.username
                        span.smaller  in 
                        a.baffle.smaller.navy-blue-text(href="/r/" + post.subreddit.name) /r/#{post.subreddit.name}
                    p.smaller
                        a.navy-blue-text(href="/post/" + post.id) comments
                    p.smaller Score: #{post.voteScore} Upvotes: #{post.numUpvotes} Downvotes: #{post.numDownvotes}
                    form.shrunk.double-col(action="/vote" method="post")
                      input(type="hidden" name="postId" value= post.id)
                      p
                        button.shrunk(class= "button" type="submit" name="vote" value="1") Upvote!
                      p 
                        button.shrunk(type="submit" name="vote" value="-1") Downvote!
            hr.jagged-rule-light
                    
